PORT=
APP_DOMAIN=
GOOGLE_CLIENT_OAUTH_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URL=


# MongoDB Athlas
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=

# brevo.com
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# jwt
JWT_SECRET=

# cloudinary
CLOUD_NAME=
API_KEY=
API_SECRET=
NODE_ENV=

